### https://raw.github.com/github/gitignore/6cd6c885ed226acbc9d76bfeb12aa9cdab0befd5/Go.gitignore

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

.idea/
*.iml